<!DOCTYPE html>
<html>
  <%- include('../components/header.ejs', {title: title}) %>
  <body>
  
  <%- include('../components/navbar.ejs') %>
  
  <div class="row div-pad-md">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-center">
      <h2> Confirmation </h2>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="row">
    <div class="col-md-3">
      
    </div>
    <div class="col-md-6">
      Your payment was processed successfuly.
      A copy of the receipt has been sent to your email and should be arriving shortly. 
      <br><br>
      Confirmation Number: <a href="#"> F35E286A38CB436</a>
    </div>
    <div class="col-md-3">
      
    </div>
  </div>

  <%- include('../components/footer.ejs') %>

  
  </body>
</html>
