<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 text-center">
    <h4>Select Available Date</h4>
    <!-- image from https://www.vertex42.com/calendars/blank-calendar.html -->
    <img src="/images/blank-calendar-monthly.png" alt="calendar" class="img-fluid">

  </div>
  <div class="col-sm-1"></div>
</div>

<div class="row pad-top-sm">
  <div class="col-md-3"></div>
  <div class="col-md-4 text-center">

    <div class="form-group">
      <label for="times">Available Times</label>
      <select class="form-control" name="times" id="times">
        <option>0930 - 1030</option>
        <option>1145 - 1245</option>
        <option>1545 - 1645</option>
      </select>
      
    </div>

  </div>
  <div class="col-md-2 pad-top-sm">
    <a href="/services/payment">
      <button type="submit" class="btn btn-primary">Submit</button>
    </a>
  </div>
  <div class="col-md-3">
    
  </div>
</div>