<form action="/users/user-panel">
  <div class="form-group">
    <label for="username">Email</label>
    <input type="text" name="username" id="username" class="form-control" placeholder="email"
      aria-describedby="helpIdUsername">
    <!-- <small id="helpIdUsername" class="text-muted">username</small> -->
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="password"
      aria-describedby="helpIdPassword">
    <!-- <small id="helpIdPassword" class="text-muted">Help text</small> -->
  </div>
  <div class="text-center">
    <a href="/users/user-panel">
      <button type="button" class="btn btn-primary pad-top-sm">
        <h4>Submit</h4>
      </button>
    </a>
  </div>

</form>