<!DOCTYPE html>
<html>
<%- include('components/header.ejs', {title: title}) %>

<body>

  <%- include('components/navbar.ejs') %>

  <div class="row div-pad-md">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-center">
      <h2> Donations </h2>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="row div-pad-md">
    <div class="col-sm-4 ">
      <h3 class="font-weight-bold">Reward Levels</h3>
      <hr>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Donor</h5>
          <h6 class="card-subtitle mb-2 text-muted">Donations under $20</h6>
          <p class="card-text">
            Duis aliquet, odio et imperdiet sagittis, leo sapien posuere risus, ac consectetur mauris elit nec risus.
            Mauris ultricies, elit eget rhoncus sagittis, lectus diam maximus ligula, lobortis tincidunt lectus turpis.
          </p>
          <a href="#" class="card-link">Donate Now</a>
          <a href="#" class="card-link">More Info</a>
        </div>
      </div>
      <hr>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Member</h5>
          <h6 class="card-subtitle mb-2 text-muted">$20 or more</h6>
          <p class="card-text">
            Quisque eleifend iaculis convallis. Pellentesque eget fringilla purus, et tristique arcu. Proin convallis
            dui et arcu accumsan, vel laoreet nisl accumsan. Integer nulla velit, volutpat sed venenatis eu, ullamcorper
            in.
          </p>
          <a href="#" class="card-link">Donate Now</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <hr>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Hero</h5>
          <h6 class="card-subtitle mb-2 text-muted">$100 or more</h6>
          <p class="card-text">
            Donec ac orci scelerisque, tristique erat quis, pretium lorem. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Suspendisse varius sollicitudin suscipit. Nunc et tempor libero. Sed fermentum, lorem non
            blandit.
          </p>
          <a href="#" class="card-link">Donate Now</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>

    <div class="col-sm-8 ">

      <h3> Thank You </h3>
      <br>
      ... for making your comminuty a better place. We rely on donations to keep our programs affordable and
      accessible to all.
      <br><br>
      <%- include('components/payment.ejs', {payment: 'Donation'}) %>

    </div>

  </div>

  <%- include('components/footer.ejs') %>


</body>

</html>