<!DOCTYPE html>
<html>
  <head>
    <%- include('components/header.ejs', {title: title}) %>
  <body>
  <%- include('components/navbar.ejs') %>
    <div>
        Donations
    </div>
    <%- include('components/footer.ejs') %>
  </body>
</html>
