<!DOCTYPE html>
<html>
<%- include('components/header.ejs', {title: title}) %>

<body>

  <%- include('components/navbar.ejs') %>

  <div class="row div-pad-md">
    <div class="col-sm text-center text-white">
      <div class="jumbotron bg-dark">
        <h1 class="display-3">Welome to Best Community Service</h1>
        <p class="lead">We serve the Best Community.</p>
        <hr class="my-2 hr-white ">
        <p class="pad-top-sm">
          Volunteering, Continuing Education, Equipment Rentals, Room Rentals, and More!
        </p>
        <div class="row pad-top-sm">
            <div class="col-md-4">    </div>
            <div class="col-md-4 text-center">
              <!-- Search form modified from https://mdbootstrap.com/docs/jquery/forms/search/-->
              <form class="form-inline" action="/services/search">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search for services" aria-label="Search">
              </form>
            </div>
            <div class="col-md-4">    </div>
          </div>
      </div>
    </div>
  </div>


  <div class="card-deck pad-lg">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title bg-dark text-light pad-xs">Volunteering</h4>
        <p class="card-text">
          Looking for opportunities to serve your community and help the less fortunate?
          Volnteer opportunities await. A great way to expand your resume while feeling great about improving your
          community.
        </p>
      </div>
      <div class="card-footer"><a href="volunteer" class="btn btn-primary">See Volunteer Opportunities</a></div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title bg-dark text-light pad-xs">Donations</h4>
        <p class="card-text">
          We rely on donations to serve our community.
          Consider becoming a donor today.
        </p>
      </div>
      <div class="card-footer"><a href="#" class="btn btn-primary">Become a Donor Today</a></div>
    </div>
  </div>

  <div class="card-deck pad-lg">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title bg-dark text-light pad-xs">Equipment Rentals</h4>
        <p class="card-text">
          We rent a variety of equipment for sports and events.
        </p>
      </div>
      <div class="card-footer">
        <a href="rentals/equipment" class="btn btn-primary">View Equipment Rentals</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title bg-dark text-light pad-xs">Room Rentals</h4>
        <p class="card-text">
          We have rooms that can be reserved for special events, weddings, meetings, and more.
        </p>
      </div>
      <div class="card-footer">
        <a href="rentals/rooms" class="btn btn-primary">View Equipment Rentals</a>
      </div>
    </div>
  </div>
  <%- include('components/footer.ejs') %>


</body>

</html>