<!DOCTYPE html>
<html>
  <%- include('components/header.ejs', {title: title}) %>
  <body>
  
  <%- include('components/navbar.ejs') %>
  
  <div class="row div-pad-md">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-center">
      <h3>Welome to Rentals</h3>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <%- include('components/footer.ejs') %>

  
  </body>
</html>
