body {
  padding: 0em;
  margin: 0em;
  font: 12px "Quattrocento Sans", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.div-pad-md {
  padding: 2em;
}

.pad-top-lg {
  padding-top: 5em;
}

.pad-top-md {
  padding-top: 3em;
}

.pad-top-sm {
  padding-top: 1.2em;
}

.pad-top-xs {
  padding-top: 0.2em;
}

.pad-lg {
  padding: 4em;
  padding-top: 0em;
}

.pad-xs {
  padding: 0.3em;
}

.pad-sm {
  padding: 0.7em;
}

.pad-btm-md {
  padding-bottom: 2em;
}

.hr-white {
  border-top: 0.1em solid whitesmoke;
}