body {
  padding: 0em;
  margin: 0em;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.div-pad-md {
  padding: 2em;
}

.pad-top-md {
  padding-top: 3em;
}

.pad-lg {
  padding: 5em;
  padding-top: 0em;
}

.pad-sm {
  padding: 0.3em;
}
