<!-- Example of sub view depth level one -->
<!DOCTYPE html>
<html>
<%- include('../components/header.ejs', {title: title}) %>

<body>

  <%- include('../components/navbar.ejs') %>

  <div class="row div-pad-md">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-center">
      <h2>Welcome, user</h2>
    </div>
    <div class="col-sm-1"></div>
  </div>



  <div class="row pad-sm">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          User Info
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5> Name:</h5> &nbsp;&nbsp;&nbsp;Andy Anderson
          </li>
          <li class="list-group-item">
            <h5>Addres:</h5> &nbsp;&nbsp;&nbsp;1234 Main st.
          </li>
          <li class="list-group-item">
            <h5>Prefered Payment:</h5>
            &nbsp;&nbsp;&nbsp;Nickname: My Credit Card <br>
            &nbsp;&nbsp;&nbsp;Card No: ****-****-****-2345 <br>
            &nbsp;&nbsp;&nbsp;Expr: 01/22
          </li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Edit user info</a>
          <a href="#" class="card-link">Add payment method</a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          Enrolled Courses
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> Underwater Basket Weaving</li>
          <li class="list-group-item"> Is It Pronounced Wind Or Wind</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Drop a course</a>
          <a href="#" class="card-link">Enroll in new course</a>
        </div>
      </div>
    </div>
  <div class="col-md-1"></div>
  </div>

  <div class="row pad-sm">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          Upcoming Payments
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> $100 Catering</li>
          <li class="list-group-item"> $20 Underwater Basket Weaving</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Cancel pending payment </a>
          <a href="#" class="card-link">Manage recurring payments</a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          Recent Payment History
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> 02/21/2019 - $5 Rental fee</li>
          <li class="list-group-item"> 02/02/2019 - $5 Rental fee</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">See more </a>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row pad-sm">
    <div class="col-md-1"></div>
    <div class="col-md-5"></div>
    <div class="col-md-5"></div>
    <div class="col-md-1"></div>
  </div>

  <div class="row pad-sm">
    <div class="col-md-1"></div>
    <div class="col-md-5"></div>
    <div class="col-md-5"></div>
    <div class="col-md-1"></div>
  </div>

  <div class="row pad-sm">
    <div class="col-md-1"></div>
    <div class="col-md-5"></div>
    <div class="col-md-5"></div>
    <div class="col-md-1"></div>
  </div>

  <%- include('../components/footer.ejs') %>


</body>

</html>