<!DOCTYPE html>
<html>
<%- include('../components/header.ejs', {title: title}) %>

<body>

  <%- include('../components/navbar.ejs') %>

  <div class="row div-pad-md">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-center">
      <h2>Class Details</h2>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          Class Title
        </div>
        <div class="card-body">
          <h5 class="card-title">Tagline</h5>
          <p class="card-text">
            Sit amet cursus sit amet dictum sit amet justo donec enim diam vulputate ut pharetra sit
            amet aliquam id diam maecenas ultricies mi eget mauris pharetra et ultrices neque ornare aenean euismod
            elementum nisi quis eleifend quam adipiscing vitae proin
          </p>
          <p class="card-text">
            Nunc eget lorem dolor sed viverra. Vel eros donec ac odio. Pulvinar pellentesque habitant morbi tristique
            senectus et netus et malesuada. Nisl pretium fusce id velit. Odio ut enim blandit volutpat maecenas volutpat
            blandit. Massa tincidunt dui ut ornare lectus sit amet. Vel orci porta non pulvinar neque laoreet
            suspendisse interdum. Imperdiet proin fermentum leo vel orci porta non pulvinar. Elit duis tristique
            sollicitudin nibh sit amet commodo. Vel pretium lectus quam id.
          </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Monday 1900 - 2000</li>
            <li class="list-group-item">Tuesday 1700 - 1800</li>
            <li class="list-group-item">Saturday 10-30 - 1130</li>
          </ul>
          <a href="/services/payment" class="btn btn-primary">Register</a>
        </div>
      </div>
    </div>
    <div class="col-md-1">

    </div>
  </div>

  <%- include('../components/footer.ejs') %>


</body>

</html>