<!-- Example of sub view depth level one -->
<!DOCTYPE html>
<html>
<%- include('../components/header.ejs', {title: title}) %>

<body>

  <%- include('../components/navbar.ejs') %>

  <div class="row div-pad-md">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-center">
      <h2>Search Results</h2>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="row div-pad-md">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 ">
      <div class="card">
        <div class="card-body">
          <a href="#">
            <h5 class="card-title">Search result title</h5>
          </a>
          <p class="card-text">
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
            egestas. Vestibulum egestas lacus non tincidunt luctus. Aliquam dolor magna, iaculis auctor erat.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row div-pad-md">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 ">
      <div class="card">
        <div class="card-body">
          <a href="#">
            <h5 class="card-title">Search result title</h5>
          </a>
          <p class="card-text">
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
            egestas. Vestibulum egestas lacus non tincidunt luctus. Aliquam dolor magna, iaculis auctor erat.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row div-pad-md">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 ">
      <div class="card">
        <div class="card-body">
          <a href="#">
            <h5 class="card-title">Search result title</h5>
          </a>
          <p class="card-text">
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
            egestas. Vestibulum egestas lacus non tincidunt luctus. Aliquam dolor magna, iaculis auctor erat.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <%- include('../components/footer.ejs') %>


</body>

</html>